@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background-image: linear-gradient(to right, #8953f7, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

